<%= line_chart ([
    { name: "体重", data: @bodies.group(:created_at).sum(:weight)},
    { name: "適正体重", data: @bodies.group(:created_at).sum(:proper_weight)},
    { name: "LBM", data: @bodies.group(:created_at).sum(:lean_body_mass)},
    { name: "体脂肪率",coler:"red", data: @bodies.group(:created_at).sum(:fat_percentage)},
  { name: "BMI", data: @bodies.group(:created_at).sum(:body_mass_index)},
  { name: "LBMI", data: @bodies.group(:created_at).sum(:mass_index)}
]), title:"一ヶ月間Chart" %>
<br />
<div class = "ui center aligned grid">
  <a class="ui blue button" href=<%= @path %>>今日の計測結果を<%= @flag %></a>
</div>
<br />
<table class="ui celled table">
  <thead>
    <tr>
      <th>計測日</th>
      <th>身長</th>
      <th>体重</th>
      <th>適正体重</th>
      <th>体脂肪率</th>
      <th>BMI</th>
      <th>除脂肪体重LBM</th>
      <th>筋肉指数LBMI</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @bodies.each do |b| %>
  <tr>
    <td data-label="計測日"><%= b.created_at.strftime('%F') %></td>
    <td data-label="身長"><%= b.height %>cm</td>
    <td data-label="体重"><%= b.weight %>kg</td>
    <td data-label="適正体重"><%= b.proper_weight %>kg</td>
    <td data-label="体脂肪率"><%= b.fat_percentage %>%</td>
    <td data-label="BMI"><%= b.body_mass_index %></td>
    <td data-label="除脂肪体重LBM"><%= b.lean_body_mass %>kg</td>
    <td data-label="筋肉指数LBMI"><%= b.mass_index %></td>
    <td data-label="編集"><%= link_to  "編集", bodies_edit_path(b.id) %></td>
  </tr>
<% end %>
  </tbody>
</table>