<h1>一ヶ月の計測結果一覧</h1>
<%= link_to "一週間の計測結果", root_path %> 
<%= link_to  "計測結果を入力", bodies_new_path %>
<hr>
<%= line_chart [
    { name: "体重", data: @bodies.group(:created_at).sum(:weight)},
    { name: "適正体重", data: @bodies.group(:created_at).sum(:proper_weight)},
    { name: "除脂肪体重(LBM)", data: @bodies.group(:created_at).sum(:lean_body_mass)},
]%>
<%= line_chart [
      { name: "体脂肪率", data: @bodies.group(:created_at).sum(:fat_percentage)},
  { name: "BMI", data: @bodies.group(:created_at).sum(:body_mass_index)},
  { name: "筋肉指数(LBMI)", data: @bodies.group(:created_at).sum(:mass_index)},
  ]%>
<hr>
<% @bodies.each do |b| %>
<%= b.created_at %><%= link_to  "計測結果を編集", bodies_edit_path(b.id) %><br />
  <br />
    身長:　　<%= b.height %>cm<br />
    体重:　　<%= b.weight %>kg<br />
    適正体重:　　<%= b.proper_weight %>kg<br />
    体脂肪率: 　　<%= b.fat_percentage %>%<br />
    BMI:　　<%= b.body_mass_index %><br />
    除脂肪体重LBM:　　 <%= b.lean_body_mass %><br />
    筋肉指数(LBMI):　　 <%= b.mass_index %><br />
  <br />
  <hr>
<% end %>