<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1 class="field">ログイン</h1>
  <div class="field">
    <%= f.label :"Eメール" %><br />
    <div class="ui left icon input">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <i class="mail icon"></i>
    </div>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= link_to "パスワードを忘れた場合", new_password_path(resource_name) %><br />
    <div class="ui left icon input">
      <%= f.password_field :password, autocomplete: "current-password" %>
      <i class="lock icon"></i>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"ログインしたままにする" %>
    </div>
  <% end %>
  <div class="field">
    <%= f.submit("ログイン",class:"ui blue big submit button") %>
  </div>
<% end %>

