<!DOCTYPE html>
<html>
  <head>
    <title>HealthManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://code.highcharts.com/highcharts.js" %>
  </head>

  <body>
  <% if user_signed_in? %>
    <div class="ui menu">
        <div id="move-sidebar" class="item ui button"><i class="settings icon"></i></div>
        <div class="item "><i class="heartbeat icon"></i>HealthManager</div>
        <a class="item right  ui inverted teal button", method="delete", href=<%= destroy_user_session_path %>>ログアウト</a>
    </div>
    <div class="ui thin sidebar inverted vertical menu">
      <div class="active item">メニュー</div>
      <div class="item">
        <div class="header">計測結果</div>
        <div class="menu">
          <a class="item" href=<%= root_path %>>一週間の計測結果</a>
          <a class="item" href=<%= bodies_month_path %>>一か間の計測結果</a>
        </div>
      </div>
      <div class="item">
        <div class="header">ユーザー設定</div>
        <div class="menu">
          <a class=" item" href=<%= edit_user_registration_path %>>ユーザー編集</a>
        </div>
      </div>
    </div>
  <% end %>
  <%= render 'layouts/flash' %>
  <%= yield %>
  <%= javascript_include_tag "semantic_ui.js" %>
  </body>
</html>